body{
    margin: 0;
    padding: 10px;


}

 h1 {
    font-size: 25px;
    padding-bottom: 15px;
    text-emphasis: bold;
}

#today {
    border: solid;
    border-color:  darkgrey;
    padding: 20px;
    border-radius: 20px;

}